<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<title>约跑吧</title>
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-touch-fullscreen" content="yes" />
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
	</head>
	<body>
        <div class="loading">正在获取资源...</div>
        <audio src="images/123.mp3" id="audio" autoplay="autoplay"></audio>
        <a class="mp3"></a>
        <img class="icon-up pt-page-moveIconUp" src="images/arrow.png" />
        <div>
			<div class="page page-1 page-current"></div>
			<div class="page page-2 hide"></div>
            <div class="page page-3 hide"></div>
            <div class="page page-4 hide"></div>			
		</div>
		<script src="javascripts/zepto.min.js"></script>
		<script src="javascripts/touch.js"></script>
		<script src="javascripts/move.js"></script>
		<script type="text/javascript">
    		var play = 1;
            var audio = document.getElementById('audio');
            $(window).on('load', function(){
                $('.loading').remove();
                $('.mp3').on('click', function(e){
                    if(play==1){
                        play = 0;
                        audio.pause();
                        $(this).addClass('stop');
                    }else{
                        play = 1;
                        audio.play();
                        $(this).removeClass('stop');
                    }
                })
			});    
		</script>
	</body>
</html>
