* {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  color: #878787;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
body{
    height: 100%;
    width:100%;
    -webkit-touch-callout: inherit ;
    -webkit-user-select: auto ;
    background-color: #fff;
}
.loading{
    background:#333;
    width:100%;
    height:100%;
    line-height:400px;
    position:absolute;
    top:0;
    left:0;
    z-index:99999;
    color:#ccc;
    text-align:center;
}

.mp3{
    width:32px;
    height:32px;
    background:url(../img/mp3.png) no-repeat center -25px;
    background-size:16px 48px;
    z-index:99;
    position: absolute;
    bottom:3%;
    left:3%;
}
.mp3.stop{background-position:center 5px;}
.icon-up {
    height:auto;width:25px;
    position:absolute;
    left:50%;
    top:93%;
    margin-left:-12px;
    z-index: 9999;
}
.hide{ display:none;}
.page{
    width:100%;
    height:100%;
    position:absolute;
    font-size:100px;
    text-align:center;
}
.page-1{ background: url(../img/1.jpg) no-repeat; background-size:100% 100%;}
.page-2{ background: url(../img/2.jpg) no-repeat; background-size:100% 100%;}
.page-3{ background: url(../img/3.jpg) no-repeat; background-size:100% 100%;}
.page-4{ background: url(../img/4.jpg) no-repeat; background-size:100% 100%;}
.page-current{
    z-index:1;
}

.pt-page-moveToTop {
    -webkit-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
    -webkit-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.pt-page-moveToBottom {
    -webkit-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

.pt-page-moveFromBottom {
    -webkit-animation: moveFromBottom .6s ease both;
    animation: moveFromBottom .6s ease both;
}
.pt-page-moveIconUp {
    -webkit-animation: moveIconUp ease 1.5s both infinite;
    animation: moveToBottom ease 1.5s both infinite;
}


@-webkit-keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@-webkit-keyframes moveIconUp {
    0% { -webkit-transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes moveIconUp {
    0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}
