 #container{
        width: 500px;
        height: 500px;
}
.panel {
  background-color: #ddf;
  color: #333;
  border: 1px solid silver;
  box-shadow: 3px 4px 3px 0px silver;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  overflow: hidden;
  line-height: 20px;
}
#input{
  width: 250px;
  height: 25px;
  border: 0;
}